
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
  
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
}

img {
  height: 40px;
  width: auto;
}

.title {
  color: #61DAFB;
}

main {
  margin: 50px 20px;
  color: #FFFFFF;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  

}

ul {
  list-style: none;
  margin-top: 30px;
}

ul li::before {
  content: "\2022";
  color: #61DAFB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h1 {
  margin-left: 1em;
  margin-top: none;
  letter-spacing: -.05em;
}

ul > li {
  padding-block: 10px
}